asgiref
attrs
Automat
certifi
cffi
charset-normalizer
constantly
cryptography
defusedxml
Django
django-allauth
django-flat-json-widget
django-tinymce
gunicorn
httplib2
hyperlink
idna
incremental
Jinja2
MarkupSafe
oauthlib
Pillow
psycopg2-binary
pycparser
pycrypto
PyJWT
pyparsing
python3-openid
pytz
pyxdg
PyYAML
requests
requests-oauthlib
six
sqlparse
Twisted
typing-extensions
urllib3
zope.interface
tzdata